.title {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgray;
    width: 100%;
    height: 5vh;
}

.redimension { 
    width: 5%;
    height: 5%;
    float: left;
    border: 2px solid;
}
.wrapper{
    width: 80%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
